<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
      <parameter name="url" value ="https://buffalocart.com/demo/billing/public/login"/>
      <parameter name = "browser" value = "chrome"/>
    <classes>
      <class name="com.project.core.Base"/>
      <class name="com.project.testscripts.LoginTest"/>
      <class name="com.project.testscripts.LogoutTest"/>
      <class name="com.project.testscripts.ResetPasswordTest"/>
      <class name="com.project.testscripts.HomeTest"/>
      <class name="com.project.testscripts.UserManagementTest"/>
      <class name="com.project.testscripts.UsersTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
